<div id="wr-ask">
  <%=  render template: "questions/action_more" %>
  <div class="fr-form-ask">

    <%= form_tag("/create", method: "post") do %>
      <div class="form-group">
        <%= label_tag(:title, "Title:") %>
        <%= text_field_tag(:title) %>
      </div>

      <div class="form-group">
        <%= label_tag(:description, "Description:") %>
        <%= text_field_tag(:description) %>
      </div>

      <div class="form-group">
        <label for="topics">Topics</label>
        <select class="topics" multiple="multiple">
          <option value="AL">Alabama</option>
          <option value="AS">dewgre</option>
          <option value="SS">rewgreg</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <%= submit_tag("Create question") %>

    <% end %>

  </div>
</div>
