<div class="wr-all">
  <div class="form-add-topic">
    <%= simple_form_for @topic do |f| %>
      <%= f.input :name, label: 'Enter name topic'%>
      <%= f.input :description, label: 'Enter description'%>
      <%= f.input :icon, as: :file, label: 'Upload icon' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
