<div id="wr-profile" class="container">
  <div class="row">
    <section class="basic-info center-block">
      <div class="basic-info-inner">
        <div class="wrapper_avatar">
          <img src="<%= @user.avatar %>" alt="" class="img_avatar">
        </div>
        <div class="wrapper_info">
          <div class="info_inner">
            <h2 class="info_name"><%= @user.name %></h2>
            <div class="action_follow">
              <span><a href="javascript:">Follow</a>|<strong>12</strong></span>
            </div>
            <div class="info_story">
              <span class="text_story">
                <%= @user.story %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section> <!-- .basic-info -->

    <div class="row second_info">
      <div class="col-md-3 analytic">
        <div class="header">
          <h2>Feed</h2>
        </div>
        <div class="inner_show_analytic">
          <ul class="list_analytic_info">
            <li>
              <span>Ask: <strong><%= @numberQuestionsOfUser %></strong></span>
            </li>
            <li>
              <span>Answer: <strong><%= @numberAnswersOfUser %></strong></span>
            </li>
            <li>
              <span>Comment: <strong><%= @numberCommentsOfUser %></strong></span>
            </li>
          </ul>
        </div>
      </div>
      <section class="wrapper_activity col-md-9">
        <div class="activity_inner">
          <div class="act_header">
            Last activity
          </div>
          <div class="wr_list_activity">
            <ul class="list_activity">
              <% @user.actions.each do |action| %>
                <li class="item_act">
                  <span>
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    <%= raw action.info %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div> <!-- .wr_list_activity -->
        </div>
      </section> <!-- .wrapper_activity -->
    </div> <!-- .second_info -->


    <section class="wrapper_main_act row">
      <div class="col-md-4 frame_questions">
        <div class="panel panel-primary">
          <div class="panel-heading">Lastest questions</div>
          <div class="panel-body">
            <div class="wr_list_questions">
              <ul class="list_questions">
                <% @user.questions.each do |question| %>
                  <li class="ques-item">
                    <span>
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                      <a href="<%= question_path(question.id) %>"><%= question.title %></a>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 frame_answers">
        <div class="panel panel-primary">
          <div class="panel-heading">Last answers</div>
          <div class="panel-body">
            <div class="wr_list_answers">
              <ul class="list_answers">
                <% @user.answers.each do |answer| %>
                  <li class="answer-item">
                    <span>
                      <i class="fa fa-cc" aria-hidden="true"></i>
                      <a href="<%= question_path(answer.question.id) %>"><%= raw answer.question.title %></a>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 frame_comments">
        <div class="panel panel-primary">
          <div class="panel-heading">Last comments</div>
          <div class="panel-body">
            <div class="wr_list_comments">
              <ul class="list_comments">
                <% @user.comments.each do |comment| %>
                  <li class="answer-item">
                    <span>
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                      <a href="<%= question_path(comment.final_question.id) %>"><%= raw comment.final_question.title %></a>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
