<section id="home-page">
  <div class="feed-wrap row">
    <div class="sidebar-topic-trending col-md-3">
      <%= react_component('HomeListTopic', topicsFollow: @topicsFollow, topics: @topics) %>
    </div>
    <div class="feed-inner-wrap col-md-9">
      <span class="home_main_feed_head">Top question for you</span>
      
      <% if user_signed_in? %>
        <div class="feed_suggest_ask">
          <div class="user-info">
            <div class="wr-avatar">
              <img src="<%= current_user.avatar.url %>" alt="" class="circle img img_30">
            </div>
            <span class="name"><%= current_user.name %></span>
          </div> <!-- .user-info -->
          <div class="wr-suggest-ask">
          <a href="<%= new_question_path %>" class="sentence-suggest-ask">What is your question</a>
        </div>
      </div> <!-- .feed_suggest_ask -->  
      <% else %>
        
      <% end %>
        
      <div class="question-feed">
          <% @questions.each do |question| %>
            <div class="paged-list-item">
              <div class="feed-item-inner">
                  <div class="list-topics">
                    <% question.topics.each do |topic| %>
                      <span class="item-topic"><a href="<%= topic_path(topic.slug) %>"><%= topic.name %></a></span>
                    <% end %>
                  </div>
                  <div class="time">
                    <%= question.updated_at %>
                  </div>
                  <span class="feed-ques-title">
                    <a href="<%= question_path(question.slug) %>" alt="<%= question.title %>"><%= question.title %></a>
                  </span>
                  <span class="author">
                    <div class="wr-avatar">
                      <img src="<%= question.user.avatar.url %>" alt="" class="circle img_40">
                    </div>
                    <div class="name">
                      <%= question.user.name %>
                    </div>
                  </span>
                  <div class="ques-content">
                    <%= raw question.content %>
                  </div>
              </div>
            </div> <!-- .paged-list-item -->
          <% end %>
      </div> <!-- .question-feed -->
    </div>
  </div>
</section>
