<div id="wr-login-page" class="row">
  <div class="center-block login-inner">
    <div class="panel panel-primary">
      <div class="panel-heading">Log in</div>
      <div class="panel-body">

          <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.input :email, autofocus: true %>

            <%= f.input :password, autocomplete: "off" %>

            <% if devise_mapping.rememberable? -%>
              <%= f.input :remember_me, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Yes, remember me', input_html: { value: '1' } %>
            <% end %>

            <div class="actions">
              <%= f.button :submit, value: "Log in" %>
            </div>
          <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
