<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title><%= t "title" %></title>
    
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations" %>

    <%= stylesheet_link_tag "application", debug: true, media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", debug: true %>

    <%= javascript_pack_tag "application" %>

    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
  </head>
  <body>
    <div id="wrapper">
      <%= render template: "layouts/_header" %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash alert alert-#{name}" %>
      <% end %>
      <div id="wrapper-body" class="container">
        <%= yield %>
      </div>
      <my-app></my-app>
      <%= render template: "layouts/_footer" %>
    </div>
  </body>
  <%= javascript_pack_tag 'hello_angular' %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    $(".flash" ).fadeOut(3000);
  </script>
</html>
